* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #eee;
    --text-color: #1D1E1C;
    --main-color: #1D1E1C;
    --other-color: #2254E8;
    --second-color: #616060;
    --third-color: #E7E7D6;

    --h1-font: 5.5rem;
    --h2-font: 3.5rem;
    --p-font: 1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background: var(--bg-color);
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 5%);
    padding: 18px 14%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .6s;
}

.logo {
    max-height: 50px; 
    max-width: auto;
}

.navlist {
    display: flex;
}

.navlist a {
    display: inline-block;
    margin: 0 30px;
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    transition: all .6s;
}

.navlist a:hover {
    color: var(--other-color);
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right a {
    display: inline-block;
    font-size: 22px;
    color: var(--text-color);
    margin: 0 20px;
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    margin-left: 10px;
    cursor: pointer;
    display: none;
}
.reviews{
    color: var(--second-color);
}
.blue-bean {
    color: #2254E8;
    font-family: 'Europa Grotesk SH', sans-serif;
}
section {
    padding: 90px 14% 70px;
}
.slider-wraper{
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}
.slider{
    display:flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav {
    text-align: center;
    margin-top: 20px;
}

.slider-nav a {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #eee; 
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.slider::-webkit-scrollbar {
    display: none; 
}
.slider-nav a:hover {
    background-color: #ccc; 
}
.home {
    position: relative;
    padding: 80px 20px; 
    text-align: center;
}


.home-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--third-color); 
    width: 80%; 
    padding: 20px; 
    text-align: justify;
}

.home-text h1 {
    font-size: 5rem; 
    font-family: 'Europa Grotesk SH', sans-serif; 
    margin-bottom: 20px;
    color: var(--third-color);
}

.home-text p {
    font-size: 1.5rem; 
    margin-bottom: 30px;
    color: var(--third-color);
}

.btn {
    display: inline-block;
    background-color: #2254E8;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #1D1E1C;
}

@media screen and (max-width: 768px) {
    .home-text {
        width: 90%; 
    }

    .home-text h1 {
        font-size: 2.5rem; 
    }

    .home-text p {
        font-size: 0.9rem; 
    }

    .home-image img {
        width: 100%; 
        height: auto;
    }
}

section {
    padding: 80px 0;
    text-align: center; 
}

h2 {
    font-family: 'Europa Grotesk SH', sans-serif;
    font-size: 3em;
    margin-bottom: 30px;
}

.beans-c img,
.row-img img {
    max-width: 100%;
    height: auto;
}

.n-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 1.5rem;
    margin-top: 4rem;
    justify-content: center;
    margin-left: auto;
    padding: 0 8rem;
}

.row {
    text-align: left;
    width: 100%; 
    margin-bottom: 2rem; 
}

.row-img {
    overflow: hidden;
    border-radius: 30px;
    margin-bottom: 15px;
}

.row-img img {
    display: block;
    width: 100%;
    cursor: pointer;
    height: auto;
}

.row h3 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 5px;
}

.stars a {
    font-size: 16px;
    color: #FFB31F;
    margin-right: 5px;
}

.row-in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.row-left a {
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--second-color);
    transition: all .6s;
}

.row-left a:hover {
    color: var(--text-color);
}

.row-right h6 {
    font-size: 19px;
    font-weight: 600;
    color: var(--second-color);
}

.n-btn {
    text-align: center;
    margin-top: 4rem;
}

.btn2 {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    background: transparent;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    border: 1px solid var(--second-color);
}

.btn2:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
#about {
    padding: 80px 0;
    background-color: var(--bg-color);
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 10%;
}

.about-box {
    
    width: calc(33.33% - 40px);
    margin-bottom: 40px;
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.about-box h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--other-color);
    text-align: center;
    font-weight: 500;
}

.about-box p {
    color: var(--text-color);
    line-height: 1.6;
    text-align: justify;
    flex-grow: 1;
}
.about-box .story i, .about-box .mission i, .about-box .vision i  {
    font-size: 40px; 
    
}
.about-box{
    width: 350px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%; 
    max-width: 1129px; 
    margin: 120px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-content {
    max-width: 800px; 
    margin-bottom: 40px;
    text-align: justify;
}

.about-content h2 {
    color: var(--main-color);
    margin-bottom: 40px;
    font-size: 48px;
    font-family: Europa Grotesk SH;
    font-weight: 500;
    line-height: 57.60px;
    word-wrap: break-word;
}

.about-content p {
    color: var(--text-color);
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.8;
}


.blog-heading {
    text-align: center;
    margin-bottom: 20px;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.blog-box {
    width: 350px;
    background-color: var(--bg-color);
    border: 1px solid var(--second-color);
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.blog-box:hover {
    transform: translateY(-5px);
}

.blog-img {
    width: 100%;
    height: 200px; 
    overflow: hidden;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    padding: 20px;
    text-align: left;
}

.blog-text span {
    color: var(--second-color);
    font-size: 0.9rem;
    margin-bottom: 10px;
    display: block;
}

.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--main-color);
    margin-bottom: 10px;
    text-decoration: none;
}

.blog-text .blog-title:hover {
    color: var(--other-color);
}

.blog-text p {
    color: #9b9b9b;
    font-size: 0.9rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

.blog-text a {
    color: var(--text-color); 
    transition: color 0.3s ease; 
}

.blog-text a:hover {
    color: var(--other-color);
}
.footer{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(20px, auto));
    gap:2rem;
    background-color: #1D1E1C;
}

.footer-box{
    display: flex;
    flex-direction: column;
}
.footer h2{
    font-size:30px;
    font-weight: 500;
    margin-bottom: 15px;
    color: var(--bg-color);
    font-family: 'Europa Grotesk SH';
}
.footer p{
    color: var(--second-color);
    transition:all .50s ease;
    margin-bottom: 0.8rem;
    color: var(--bg-color);
}
.footer-box h3{
    font-size:20px;
    font-weight: 500;
    margin-bottom: 15px;
    color: var(--bg-color);
    font-family: 'Europa Grotesk SH';
}
.footer-box a{
    color: var(--second-color);
    transition:all .50s ease;
    margin-bottom: 0.8rem;
    color: var(--bg-color);
}
.footer-box a:hover{
    transform: translateX(-3px);
    color: var(--other-color);
}
.social a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: var( --other-color);
    color: var( --bg-color);
    font-size: 17px;
    border-radius: 8px;
    margin-right: 14px;
    transform: transform 0.6s;
}
.copyright{
    display: flex;
    flex-wrap: wrap;
    background-color: #1D1E1C;
    font-size: 10px;
}
.copyright p{
    color: #eee;
}
.delivery-container {
    width: 90%; 
    max-width: 1129px; 
    margin: 120px auto 0; 
    position: relative;
}
  
.delivery-title {
    color: var(--main-color);
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px; 
    font-size: 48px;
    font-family: Europa Grotesk SH;
    font-weight: 500;
    line-height: 57.60px;
    word-wrap: break-word;
}
  
.delivery-content {
    width: 100%; 
    height: 100%; 
    position: relative; 
    justify-content: center;
    align-items: center; 
    display: flex; 
    flex-direction: column; 
}
  
.delivery-text {
    max-width: 800px; 
    text-align: justify; 
}
  
 .delivery-text p {
    color: var(--text-color);
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.8;
}
  
.delivery-text ul {
    margin-bottom: 10px;
}
  
.delivery-text li {
    margin-left: 20px;
}

.login-container {
    max-width: 500px;
    margin: 100px auto;
    padding: 40px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--main-color);
}
.login-container h3{
    font-family: 'Europa Grotesk SH';
    font-weight: 200;
}
.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 15px;
    color: var(--main-color);
}

.login-container input[type="text"],
.login-container input[type="password"] {
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container input[type="submit"] {
    padding: 15px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Europa Grotesk SH';
    font-weight: 200;
    font-size: 20px;
}

.login-container input[type="submit"]:hover {
    background-color: #0056b3;
}
.google-login {
    text-align: center;
    margin-top: 20px;
}

.google-login p {
    margin-bottom: 10px;
}

.google-login a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #DB4437; /* Google Red */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.google-login a i {
    margin-right: 10px;
}

.google-login a:hover {
    background-color: #C0392B; /* Darker shade of Google Red */
}



 @media (max-width: 768px) {
    .delivery-container {
      width: 90%;
      margin-top: 50px; /* Adjusted top margin for responsiveness */
    }
  
    .delivery-text {
      padding: 0 20px; /* Adjusted padding for responsiveness */
    }
  }

  .contact-section {
    width: 90%;
    max-width: 1129px;
    margin: 120px auto 0;
    position: relative;
    text-align: center;
}

.contact-section h2 {
    color: var(--main-color);
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 48px;
    font-family: Europa Grotesk SH;
    font-weight: 500;
    line-height: 57.60px;
    word-wrap: break-word;
}

.contact-category {
    margin-bottom: 40px;
}

.contact-category h3 {
    color: var(--main-color);
    margin-bottom: 10px;
    font-size: 22px;
    font-family: Europa Grotesk SH;
    font-weight: 500;
}

.contact-category p {
    color: var(--text-color);
    font-size: 18px;
    font-family: Poppins;
}

.contact-category a {
    color: var(--other-color);
    text-decoration: none;
}

.contact-category a:hover {
    color: var(--second-color);
}

  
  @media (max-width: 768px) {
    .delivery-container {
      width: 90%;
      margin: 0 auto;
    }
  }
  
  
  @media (max-width: 768px) {
    .delivery-container {
      width: 90%;
      margin: 0 auto;
    }
  }
  

@media (max-width: 1250px) {
    .blog.box {
        width: 300px;
    }
}

@media (max-width: 1100px) {
    .blog.box {
        width: 70%;
    }
}

@media (max-width: 550px) {
    .blog.box {
        margin: 20px 10px;
        width: 100%;
    }
    #blog {
        padding: 20%;
    }
}

@media (max-width: 1050px) {
    #menu-icon {
        display: block;
    }
    .navlist {
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 40px 60px;
        top: 0;
        bottom: 0;
        Left: 100%;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        transition: all .40s ease;
    }
    .navlist a {
        display: block;
        color: #979797;
        padding: 0;
        margin: 0px 0px 30px 0px;
        font-size: 1rem;
        font-weight: 400;
    }
    .navlist.open {
        left: 0;
    }
    :root {
        --h1-font: 4.5rem;
        --h2-font: 2.6rem;
    }
    .logo {
        font-size: 25px;
    }
    .beans {
        padding: 40px;
    }
}

@media (max-width: 530px) {
    :root {
        --h1-font: 3.5rem;
        --h2-font: 2.2rem;
    }
    .btn {
        padding: 12px 20px;
    }
    .nav-right a {
        margin-right: 7px; 
    }
}

